<%- include("partials/head")%>
<%- include("partials/header")%>


<!------------------------------------------------------------>


<h4>Total productos en stock</h4>


<h4>Total valor productos</h4>


<h4>Total usuarios</h4>



<h3>Cantidad por categoría</h3>


<h4>color tinto</h4>



<h4>color blanco</h4>

<% variedad.forEach(valor => { %>
<ul>
<li><%= valor %></li>

</ul>

<% }); %>
<h4>varidedad blend</h4>

<h4>variedad malbec</h4>

<h4>varidedad</h4>

<h4>variedad</h4>

<h4>premium</h4>

<h4>clasico</h4>











<!------------------------------------------------------------>
<%- include("partials/footer")%>