<%- include("partials/head")%>
<%- include("partials/header")%>


<div class="container-fluid">
    <div class="row" id='form'>
        <div class="col-12">
            <h2 class="products-title">Administración del sitio</h2>
        </div>


        <div class="row" id='registro'>
            <div class="col-6">
                <a href='/products' type="button" class="btn btn-warning" id='dos'>Editar Producto</a>
            </div>
            <div class="col-6">
                <a href='/products' type="button" class="btn btn-danger" id='dos'>Eliminar Producto</a>
            </div>

            <div class="col-12">

                <a href='/products/create' type="button" class="btn btn-secondary" id='dos'>Agregar Producto</a>
            </div>

           

            <div class="col-12">
                <a href='/users/register' type="button" class="btn btn-info" id='dos'>Agregar Usuario Admin</a>
            </div>

          

        </div>

    </div>


</div>






<!------------------------------------------------------------>
<%- include("partials/footer")%>