




<div class='container-fluid' id='registroC' >
    <div class='row' id='form'>
        <div class="sm-col-4 md-col-12 lg-col-8" id="registro">
            
            <h3>Alta de productos</h3>
            
            <p>Por favor llene los campos indicados </p>
            
            
            <form action='#'method='post' >
                
                <p><label for='ID'>ID Producto</label></p>
                <p><input type='number' name='numero' id='ID'   class='uno'></p>
                
                
                <p><label for='descripcion'>Descripción de producto</label></p>
                <p><textarea name='descripcionProducto' id='descripcion'  style='background-color: white;' class='uno'></textarea></p>
                
                <p><label for='cantidad'>Cantidad</label></p>
                <p><input type='number' name='cantidad' id='cantidad'   class='uno'></p>
                
                
                <p><label for='precio'>Precio</label></p>
                <p> <input type='number' name='contraseña' id='precio' class='uno'></p> 
                
                <p><label for='foto'>Foto de producto</label></p>
                <p class='avatar'><input type='file' name='foto' id='foto'class='uno' ></p>
                
                <button type="button" class="btn btn-primary" id="btn-form">Enviar</button>
                
                
            </form>
            
            
        </div>
    </div> 
</div>




















